/*--------- UTILITIES ------ */

:root {
  --yellow: #f69f08;
  --light: #fdf0cd;
}

.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
  height: 100vh;
}

h1 {
  font-size: 40px;
}

p,
li {
  font-weight: 200;
  font-size: 17px;
}

img {
  width: 100%;
}
.btn {
  background-color: var(--yellow);
  color: black;
  padding: 1%;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: white;
  color: var(--yellow);
  border: var(--yellow) solid 2px;
}

.btn-secondary {
  background-color: var(--yellow);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 4px;
  margin-top: 2%;
}

.btn-secondary:hover {
  color: white;
  background-color: var(--yellow);
}
a {
  color: inherit;
}

a:hover {
  color: white;
  text-decoration: none;
}

.container-fluid {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*--------- LANDING PAGE ------ */

#landing {
  width: 93%;
  height: 85vh;
  position: relative;
  margin-top: 3%;
}

#landing::after {
  content: '';
  background-image: url('./img/beers.jpg');
  background-size: cover;
  z-index: 0;
  opacity: 0.8;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
}

.landText {
  position: relative;
  z-index: 1;
  margin-top: 28%;
}
.landText h1 {
  color: white;
  font-size: 80px;
}

/*--------- BREWERIES PAGE ------ */

.filters {
  margin-top: 3%;
}

input {
  background-color: var(--light);
}

.checkboxes {
  padding: 7px;
}

.checkboxes input {
  margin: 3px;
}

.card {
  align-self: center;
  margin-bottom: 8px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* --------- BREWERY PAGE ------ */

#brewery,
#beer {
  min-height: 88vh;
}

.container {
  margin-top: 2%;
  width: 90%;
}
.brewery-info {
  margin-top: 3%;
}

#brewName {
  color: white;
}
select {
  background-color: var(--light);
}

.beers-list {
  margin-top: 5%;
}

.list-group-item {
  align-self: center;
  width: 50%;
  font-size: 18px;
  padding: 2%;
  margin-bottom: 2%;
  background-color: var(--light);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/*--------- BEER PAGE ------ */
#beerCard {
  margin-top: 5%;
  background-color: var(--light);
}

#beerId:hover {
  color: var(--yellow);
  text-decoration: none;
}

/*--------- FOOTER ------ */
footer {
  margin-top: 2%;
}

#contact {
  color: var(--light);
}
